<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css"
</head>
<body>
    
    <h>{{pageTitle}}</h>
    {{!-- podwójne nawiasy klamrowe !! taka jest konstrukcja!! zmienna wpsan w app.js!! --}}
    <input type="text" id="input">
    <button id="btn">Pobierz dane</button>
    <div id="showData"></div>
    <div id="return">Wynik: {{result}}</div>

    <a href="./about">Idż do strony about</a>
    <img src="./../assets/img/gliwice.jpg" alt="Zdjęcie Gliwic">
    
    <script src="./../js/func.js"></script>
    
</body>
</html>